header{
    height: 80px;
    background-color: white;
    padding-left: 2rem;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e9ea;
}

main{
    max-width: 800px;
    background-color: white;
    margin: 25px auto;
    padding: 30px 20px;
    border-radius: 8px;
}

.logo{
    vertical-align: middle;
}

.title{
    display: inline-block;
    color: black;
    vertical-align: middle;

}

.Add{
    padding: 8px 12px;

}

.add-primary{
    background-color:#47adf1;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    color: white;
    border: none;
}

.add-secondary{
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    color: gray;
    border: none;
}

h2 {
    font-weight: 300;
    display: inline-block;
    margin-bottom: 5px;
}

.editorial{
    background-color: #47adf1;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.q1{
    background-color: #9c72e4;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.recruiting{
    background-color: #64c0a9;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.website{
    background-color:#d863a1;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.sales{
    background-color: #b0c926;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.mobile{
    background-color: #f29e33;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.check{
    color: green;
    font-weight: bold;
    margin-right: 5px;
    padding-left: 3px;
    
}

.border{
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}

.cross{
    color: red;
    font-weight: bold;
    margin-right: 5px;
    padding-left: 3px;
    
    
}

p{
    margin: 10px 0
}

