header{
    height: 80px;
    background-color: white;
    padding-left: 2rem;
    
}

body{
    font-family: sans-serif;
    background-color: gray;
}

main{
    max-width: 800px;
    background-color: white;
    margin: 25px auto;
    padding: 0 20px;
    border-radius: 8px;
}

.logo{
    vertical-align: middle;
}

.title{
    display: inline-block;
    color: black;
    vertical-align: middle;

}
.Add{
    border-color: gray;
    padding: 8px 12px;
    button{
        border-radius: 8px;
    }
}

h2 {
    font-weight: 300;
    display: inline-block;
    margin-bottom: 5px;
}

.editorial{
    background-color: aqua;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.q1{
    background-color: blueviolet;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.recruiting{
    background-color: green;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.website{
    background-color: pink;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.sales{
    background-color: greenyellow;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.mobile{
    background-color: orange;
    border-radius: 12px;
    padding: 7px;
    font-size: small;
}

.check{
    color: green;
    font-weight: bold;
    margin-right: 5px;
}

.cross{
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

p{
    margin: 10px 0
}

